@tailwind base;
@tailwind components;
@tailwind utilities;


/*BODY*/
body {
    background-color: #191A18;
    color: white;
}

/* REGISTRO =============================================*/

/*h1 título*/
.titulo {
    font-size: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3rem;
    color: #839783;
}

/*inputs bg, fuente, fontSize*/
.inputsAuthForms{
    background-color: #191A18;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*inputs HOVER*/
.inputsAuthForms:hover{
    border-bottom: 2px solid #00CC00;
}
/*inputs placeholder*/
.inputsAuthForms::placeholder {
    color: #839783; /* Cambia el color del placeholder aquí */
}
/*inputs placeholder*/
.placeholder-red::placeholder {
    color: #EF4444; /* Cambia el color del placeholder aquí */
}

/*BTN sumnit*/
.btnSumit {
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
/*BTN sumnit hover*/
.btnSumit:hover{
    background-color: #00CC00;
    color: #191A18;
    transition: 300ms;
}

.btnSumitRed:hover{
    background-color: #EF4444;
    
}

.linkHover:hover{
    color: #00CC00;;
}


/*BARRA SCROLL*/

/* Estilos para la barra de desplazamiento en webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #00CC00; /* Color del "pulgar" de la barra */
    border-radius: px; /* Radio de borde del "pulgar" */
}

::-webkit-scrollbar-track {
    background-color:  #191A18;; /* Color de la pista de la barra */
}


/*MENU ============================================*/
.menuPage{
  border-right:#1e1e1e 3px solid;
}

.btnMenu{
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.btnMenu:hover{
    
    color: #00CC00;
    transition: 100ms;
    border-right:  3px solid #00CC00   ;

}