
/*MENU ============================================*/
.menuPage{
    border-right:#1e1e1e 3px solid;
  }
  
  .btnMenu{
      font-size: 1rem;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 500;
  }
  
  .btnMenu:hover{
      
      color: #00CC00;
      transition: 100ms;
      border-right:  3px solid #00CC00   ;
  
  }